version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: newpassword
      MYSQL_DATABASE: go_gin_api
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always

  api:
    build: .
    container_name: go_api
    ports:
      - "8080:8080"
    depends_on:
      - mysql
      - redis
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
    environment:
      DB_DSN: "root:newpassword@tcp(mysql:3306)/go_gin_api?charset=utf8mb4&parseTime=True&loc=Local"
    restart: always

volumes:
  mysql_data:
